doctype html
html
  head
  body
    form(method='POST', action='/room/create')
      label Room name: 
      input(type='text' name="name")
      fieldset#streaming
        input.type(type='radio', name='type', value="streaming")
        | Streaming
        br
      fieldset#conferent
        input.type(type='radio', name='type', value="conferent")
        | Conferent Room
        br
      fieldset(style='display:none')
        input.option(type='checkbox', name='option', value="video")
        | Allow Video
        br
      fieldset(style='display:none')
        input.option(type='checkbox', name='option', value="audio")
        | Allow Audio
        br
      fieldset(style='display:none')
        input.option(type='checkbox',  name='option', value="screen")
        | Allow Screen
        br
      input(type='submit', value='Submit')
  script.
    let options = document.querySelectorAll('.option')
    let optionsShowed = false;
    document.querySelector('input[value="conferent"]').addEventListener('click',(e)=>{
      showOptions()
    })
    document.querySelector('input[value="streaming"]').addEventListener('click',(e)=>{
      hideOptions()
    })
    function hideOptions(){
      for (let option of options) {
        option.parentElement.style.display = 'none'
      }
    }
    function showOptions(){
      for (let option of options) {
        option.parentElement.style.display = 'inline'
        option.checked = false
      }
    }

