html
	head
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
		link(href="/public/css/layout.css" rel="stylesheet")
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tensorflow/0.13.5/tf.js')
		script(src='https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd')
		script(src="https://webrtc.github.io/adapter/adapter-latest.js")
		block scripts

	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			a.navbar-brand(href="/") StreamRTC
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					if !auth
						li.nav-item
							a.nav-link(href="/register") Sign up
						li.nav-item
							a.nav-link(href="/login") Sign in
						//- li.nav-item
						//- 	button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal') Launch demo modal
					else
						li.nav-item
							a.nav-link(href="/streams") Streams
						li.nav-item
							a.nav-link(href="/room/create") Create room
				if auth
					ul.nav.navbar-nav.navbar-right
						span.navbar-text="Hello, " + user + "!"
						li.nav-item
							a.nav-link(href="/people") Friends
						li.nav-item
							a.nav-link(href="/logout") Logout
						
						#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
							.modal-dialog(role='document')
								.modal-content
									.modal-header
										h5#exampleModalLabel.modal-title Modal title
										button.close(type='button', data-dismiss='modal', aria-label='Close')
											span(aria-hidden='true') ×
									.modal-body ...
									.modal-footer
										button.btn.btn-secondary(type='button', data-dismiss='modal') Close
										button.btn.btn-primary(type='button') Save changes
				form.form-inline.my-2.my-lg-0(method="GET", action="/search")
					input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search" name="topic")
					button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
		block content


