extends layout.pug
mixin card(room)
	.card.border-dark.mb-3(style="max-width: 20rem;")
		a(href="/room/" + room.channel,class = room.active? "card-header bg-success text-white": "card-header bg-danger text-white")=room.name
		.card-body.text-dark
			h5.card-title=room.type
		.card-footer
			p.card-text="Owner: " + room.username
block content
	.container
		each row,idx in room_rows
			.card-deck
				each room in row
					+card(room)