doctype html
html
  head
  body
    form(method='POST', action='/register')
      label username:
      input(type='text' name="name")
      br
      label password:
      input(type='password' name="password")
      input(type='submit', value='Submit')