extends layout.pug
block scripts
	script.
		window.channel = "#{channel}"
		window.id = "#{id}"
		
	script(src='https://cdn.socket.io/socket.io-1.4.5.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
	if !isBroadcaster
		script(type='module', src='/public/js/viewer.mjs')
	else
		script(type='module', src='/public/js/broadcaster.mjs')
block content
	.container
		.row
			.col-12
				.card.border-dark
					h5.card-header.white-text.text-center.py-4
						strong Streaming
					.card-body.text-center.px-lg-10.pt-0
