doctype html
html
  head
    script.
      window.channel = "#{channel}"
      window.id = "#{id}"
      window.isBroadcaster = "#{isBroadcaster}" == 'true'
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='module', src='/public/js/index.mjs')
    style.
      html, body {
      background-color: #333;
      }
      video {
      width:  320px;
      height:  240px;
      border:  1px solid black;
      }
      audio::-webkit-media-controls-mute-button {
      display:none;
      }
  body