extends layout.pug
block scripts
	script.
		window.channel = "#{channel}"
		window.id = "#{id}"
		window.username = "#{user}"
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
	link(rel="stylesheet", href="/public/css/menu.css")
	link(href='/public/chat.css', rel='stylesheet')
	if !isBroadcaster
		script(type='module', src='/public/js/StreamingViewer.mjs')
	else
		script(type='module', src='/public/js/StreamingBroadcaster.mjs')
block content
	.container
		
		.row
			button.btn.btn-success.btn-block.col-md-9.col-sm-9.col-9 Start audio streaming
			button.btn.btn-success.btn-block.col-md-9.col-sm-9.col-9 Start audio+video streaming
			button.btn.btn-success.btn-block.col-md-9.col-sm-9.col-9 Start screen sharing streaming
			.big-container.border.border-primary.rounded.h-75.w-25.position-absolute.pr-4.pl-4.pb-1(style='right: 30px;')
				.scroll(style="overflow-y: scroll; height: 80%")
				