extends layout.pug
block scripts
	script.
		window.channel = "#{channel}"
		window.id = "#{id}"
		window.username = "#{user}"
	link(rel="stylesheet", href="/public/css/menu.css")

	if !isBroadcaster
		script(type='module', src='/public/js/SurveillanceViewer.mjs')
	else
		script(type='module', src='/public/js/SurveillanceBroadcaster.mjs')
block content
	.container
		.row